<video #video width="640" height="480" autoplay></video>
<br>
<md-select name="videoSelect" placeholder="webCam" [(ngModel)]="selectValue" (ngModelChange)="selectSource($event)" class="input-form">
     <md-option *ngFor="let cam of cams" [value]="cam.value" [disabled]="cam.disabled">
        {{ cam.viewValue }}
      </md-option>
</md-select>
<!--<button name="bottone" (click) = "onClick()">{{bottone}}</button>-->
<button md-raised-button (click)="onClick()">
  {{bottone}}
  <md-icon>{{icona}}</md-icon>
</button>
<!--<p>{{vid}}</p>-->