@import 'node_modules/@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
